<p><%= @guest.email_safe_salutation %></p>

<% if @guest.attending %>
<p>Wir freuen uns schon auf dich!</p>
<p>Die Adresse ist:</p>
<address><%= render partial: 'application/wedding_address' %></address>

<h3>Deine Anmeldung</h3>
<p>Falls du deine angegebenen Daten nochmals ansehen oder ändern möchtest, kannst du dies unter dem folgenden Link tun:</p>
<p><%= link_to guest_url(@guest, locale: I18n.locale), guest_url(@guest, locale: I18n.locale) %></p>

<h3>Möchtest du uns eine Karte schicken?</h3>
<p>Falls du unsere Postadresse brauchst:</p>
<address><%= render partial: 'application/mailing_address' %></address>

<h3>Fragen und Antworten</h3>
<p>Wir updaten die Website immer wieder mit mehr Informationen, also schau gerne zu einem späteren Zeitpunkt nochmal vorbei: <%= link_to 'unsere Webseite', root_url %>.</p>
<p>Falls du noch weitere Fragen hast, kannst du auch gerne auf diese E-Mail antworten und wir helfen dir gerne weiter.</p>
<% else %>
<p>Schade, dass du es leider nicht zu unserer Hochzeit schaffen wirst. Falls sich deine Pläne noch ändern, kannst du uns unter dem unten stehenden Link gerne noch Bescheid geben:</p>
<p><%= link_to guest_url(@guest, locale: I18n.locale), guest_url(@guest, locale: I18n.locale) %></p>
<p>Hoffentlich sehen wir uns bald wieder!</p>
<% end %>

<p>&nbsp;</p>
<p><%= t :wedding_couple_names %></p>
