<main role="main">
  <section id="welcome-index-leader" class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"><%= t :wedding_couple_names %></h1>
    <p class="leader-date">
      <%= t :wedding_date %> <br>
      <%= t :wedding_location %>
    </p>
    <p>
    <table id='language-table'>
    <tr>
    <td>  
      <%= link_to "Ich spreche Deutsch!", "/de", class: 'btn btn-primary wedding-cta-btn language-link' %>
    </td>
    <td>  
      <%= link_to "I speak English!", "/en", class: 'btn btn-primary wedding-cta-btn language-link' %>
    </td>
      </tr>
    </table>
    </p>
    </p>
  </div>
</section>

</main>
